@import '../../abstracts/mixins.scss';
@import '../../abstracts/variables.scss';



.create-pdf {
  @include respond(phone) {
    display: none;
  }

  @include flexCenter;
  justify-content: space-around;

  margin-top: 2rem;
  margin-left: 12rem;
  width: 75%;

  &__word-count {
    font-size: 2rem;
  }

  &__question-count {

    &--label {
      font-size: 2rem;
      font-weight: 700;
    }

    &--input {
      border: 2px solid cadetblue;
      border-radius: 4px;
      width: 8rem;
      height: 3.5rem;
      font-size: 2rem;
      text-align: center;
    }
  }

  &__btn {
    border: none;
    border-radius: 4px;
    background-color: cadetblue;
    color: white;
    width: 20rem;
    height: 3.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

.wordbook-detail {
  @include flexCenter;

  position: relative;
  width: 100%;
  text-align: center;

  &__subject {
    font-size: 2.5rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__toggleBtn {
    @include flexCenter;
    @include absCenter;

    // top: 5rem;
    transform: translate3d(-50%, 0%, 0);
    justify-content: space-around;
    width: 70rem;
    margin-top: 4rem;

    @include respond(phone) {
      margin-top: 0;
      width: 40rem;
      transform: translate3d(-48%, -20%, 0);
    }
  }

  &__word {
    @include flexCenter;

    width: 70rem;
    height: 5rem;

    
    @include respond(phone) {
      width: 40rem;
    }

    span {
      display: inline-block;
      width: 33.3%;
      height: 100%;
    }

    &--kanji {
      font-size: 2rem;

      @include respond(phone) {
        margin-left: 2rem;
        width: 40%;
        font-size: 2rem;
      }
    }

    &--yomikata {
      font-size: 2rem;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }

    &--meaning {
      font-size: 2rem;

      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
  }

  &__update-btn {
    display: inline-block;
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: $main-black;
    border-radius: .5rem;
  }
}

.word-list-container {
  margin-top: 10rem;
}

.checkbox-switch {
  position: relative;
  text-align: center;

  &__input {
      display: none;
  }

  &__label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin-top: 5rem;
      width: 8rem;
      height: 3rem;
      border-radius: 1.5rem;
      background-color: cadetblue;

      &::before {
          position: absolute;
          top: .6rem;
          left: .5rem;
          font-size: 1.2rem;
          display: inline-block;
          content: 'ON';
          color: white;
      }

      &::after {
          position: absolute;
          top: .6rem;
          right: .5rem;
          font-size: 1.2rem;
          display: inline-block;
          content: 'OFF';
          color: white;
      }
  }

  &__btn {
      position: absolute;
      top: .25rem;
      right: .3rem;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      background-color: #fff;
      transition: all .5s ease-out;
  }

  &__input:checked ~ &__label &__btn {
      right: 5.3rem;
  }
}
