// main color
$main-black: #333;

// header
$header-nav-text-color: #ffffff;

// wordbook
$wordbook-list-border-top-color: #94ecc5;

// editor
$editor-row-button-color:#333333;
$editor-row-button-disabled-color: #e9e0e0;