@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';

.main {
  @include flexCenter;

  width: 100%;
  height: 60rem;

  @include respond(tab-land) {
    height: 100rem;
  }
}

.intro {

  &-wrapper {
    @include flexCenter;
    flex-direction: column;

    height: 40rem;
  }

  &__title {
    font-size: 6rem;
    word-spacing: 2rem;

    p {
      @include flexCenter;

      margin-top: 3rem;

      @include respond(tab-land) {
        font-size: 8rem;
      }

      @include respond(phone) {
        font-size: 4.3rem;
        word-spacing: 0;
      }
    }

    p:first-child {
      animation: fadeInRight 1s ease-in-out;
    }

    p:last-child {
      animation: fadeInLeft 1s ease-in-out;
    }
  }

  &__btn {
    @include flexCenter;

    position: relative;
    margin: 3rem;
    margin-top: 4rem;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: $main-black;
    animation: fadeInUp 1s ease-in-out;

    @include respond(tab-land) {
      width: 25rem;
      height: 15rem;
      font-size: 2.5rem;
    }

    @include respond(phone) {
      width: 15rem;
      height: 5rem;
      word-spacing: 0;
    }

    &:hover {
      transform: scale(1.05);
      transition: all .1s ease-in-out;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
};


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
};

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
};