@import '../../abstracts/mixins.scss';

.logout-message {
  @include flexCenter;

  width: 100%;
  height: 50rem;
  font-size: 3rem;

  @include respond(phone) {
    font-size: 2.5rem;
    word-spacing: .5rem;
    text-align: center;
  }
}