@import '../../abstracts/mixins.scss';
@import '../../abstracts/variables.scss';

.signup {
  width: 100%;
  height: 100%;

  &-form-container {
    @include flexCenter;

    margin-top: 5rem;
  }

  &__form {
    border: 1px solid seagreen;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 40rem;

    &--title {
      font-size: 2rem;
      color: $main-black;
    }

    input {
      width: 30rem;
      height: 5rem;
      color: $main-black;
      border: none;
      border-bottom: 1px solid $main-black;
    }

    &--submit-btn {
      width: 30rem;
      height: 4rem;
      background-color: #aaf0e3;
      color: $main-black;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}