@import '../../abstracts/mixins.scss';

.editor-row {
  @include flexCenter;
  justify-content: flex-start;

  &__input {
    
    width: 33.333%;
    height: 5rem;
  
    &:disabled {
      display: none;
    }
  }

  &__btn {
    width: 5rem;
    height: 5rem;
    background-color: rgb(51, 51, 51);
    border: none;

    &--icon {
      width: 50%;
      height: 50%;
      color: white;
    }
  }
}