@import '../../abstracts/mixins.scss';
@import '../../abstracts/variables.scss';

.editor-row {
  @include flexCenter;
  justify-content: flex-start;

  &__input {
    
    width: 31.2%;
    height: 5rem;
  
    &:disabled {
      display: none;
    }
  }

  &__btn {
    width: 5rem;
    height: 5rem;
    background-color: $editor-row-button-color;
    border: none;
    cursor: pointer;

    @include respond(phone) {
      width: 3rem;
    }

    &:disabled {
      background-color: $editor-row-button-disabled-color;
      cursor: not-allowed;
    }

    &--icon {
      width: 50%;
      height: 50%;
      color: white;
    }
  }
}