@import '../../abstracts/mixins.scss';

.editor-row {
  @include flexCenter;
  justify-content: flex-start;

  &__input {
    
    width: 33.333%;
    height: 5rem;
  
    &:disabled {
      display: none;
    }
  }
}