@import '../../abstracts/variables.scss';

.header-nav {

  margin-left: 5rem;

  &__text {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: $header-nav-text-color;
  }
}