@import '../../abstracts/mixins.scss';

.main-header {
  @include flexCenter;

  justify-content: flex-start;
  width: 100%;
  height: 9rem;
  background: #333;
}

.navs-container {
  @include flexCenter;

  width: 100%;
  height: 10rem;
}
